@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tonedblack: #262626;
  --color-primary: #FF7000;
  --color-placeholder: #BDBDBD;
  --color-footerorange: #FFAC4A;
  --color-greyforoutline: #E5E5E5;
  --font-raleway: var(--font-raleway);
  --font-inter: var(--font-inter);
  --font-source-sans: var(--font-source-sans);
}

